<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>WSZ-Sekretariat</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>${productionMode}</param-value>
	</context-param>
	<servlet>
		<servlet-name>WSZ-Sekretariat</servlet-name>
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		<init-param>
			<param-name>UI</param-name>
			<param-value>pl.kalisz.szpital.kancelaria.DashboardUI</param-value>
		</init-param>
		<init-param>
			<param-name>widgetset</param-name>
			<param-value>pl.kalisz.szpital.kancelaria.data.DashboardWidgetSet</param-value>
		</init-param>
		<init-param>
			<param-name>UIProvider</param-name>
			<param-value>pl.kalisz.szpital.kancelaria.DashboardUIProvider</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>WSZ-Sekretariat</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
